.portal-servicios {
    min-height: 100vh;
    min-width: 100vw;
    padding: 1rem 1rem 4rem 1rem;
    max-height: 100%;
    overflow: auto;
}

.portal-servicios>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.portal-servicios.opened_box .box {
    opacity: .2
}

.portal-servicios.opened_box .box.flip {
    opacity: 1
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.box {
    height: 360px;
    padding: 2em;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    position: relative;
    width: 240px;
    display: inline-block;
    transition: all .3s linear;
    margin: 0 1em 1em 0
}

@media (max-width:600px) {
    .box {
        width: 100%
    }
}

.box .back,
.box .front {
    border: 1px solid #ddd;
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
    width: inherit
}

.box .front {
    padding: 1em;
    z-index: 900;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.box.externa .front {
    border:1px solid orange;
}

.box .back {
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    overflow: hidden;
    opacity: 0
}

.box.big {
    position: fixed;
    width: 80vw;
    height: 80vh;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

@media (min-width:800px) {
    .box.big {
        width: 70vw
    }
}

@media (max-width:600px) {
    .box.big {
        width: 100vw;
        height: calc(100vh - 50px);
        top: 50px !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        margin: 0 !important;
        -webkit-transform: translate(0) !important;
        transform: translate(0) !important
    }
}

.box.big .back .servicio__description.is--opened {
    opacity: 1;
    margin-right: 2em
}

.flip {
    position: fixed;
    z-index: 1;
    left: auto;
    top: auto
}

.flip+.box {
    margin-left: 240px
}

.flip .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 900
}

.flip .back {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1000
}

.servicio__header {
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em
}

.servicio__header.is--opened {
    background: #ddd;
    border-bottom: 1px solid #636467;
    height: 10em;
    padding: 2em 1em .8em 2em
}

.servicio__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1
}

.servicio__subtitle {
    font-size: 14px;
    line-height: 1;
    white-space: nowrap
}

.servicio__description {
    max-height: 78px;
    overflow: hidden;
    margin-bottom: 1em;
    transition: all .3s linear
}

.servicio__description.is--opened {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    padding: 1em;
    opacity: 0;
    margin-left: 10em;
    margin-right: 0
}

.servicio__icon {
    border-radius: 96px;
    border: 1px solid #636467;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 48px 48px;
    display: block;
    height: 96px;
    margin: 0 auto 1em;
    transition: all .3s ease;
    width: 96px
}

.servicio__icon.is--opened {
    border-radius: 8px;
    height: 7em;
    left: 2em;
    margin-bottom: 2em;
    margin-top: -3.5em;
    position: absolute;
    top: 10em;
    width: 7em
}

.servicio__button_detail {
    bottom: 72px;
    opacity: 0;
    transition: all .3s ease
}

.servicio__button_acceder,
.servicio__button_detail {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.servicio__button_acceder {
    bottom: 16px;
    display: inline-block;
    background: #454545;
    color: #fafafa;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.15s linear;
}

.servicio__button_acceder:hover {
    text-decoration: none;
    background: #b41515;
    color: #fafafa;
}

.servicio__button_close {
    position: absolute;
    right: 1em;
    top: 10px
}

.servicio:hover .servicio__button_detail {
    bottom: 64px;
    opacity: 1
}

.servicio.flip .servicio__button_detail {
    display: none
}

.servicio__notificaciones {
    background: #b41515;
    border-radius: 100%;
    color: #FEFEFE;
    display: block;
    font-size: 13px;
    height: 24px;
    overflow: hidden;
    padding: 6px 0 0 0;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 11px;
    width: 24px;
    line-height: 1;
}